.button {
  transition: background-color 0.5s, 0.3s;
  background-color: var(--menu-options-background-color);
  color: var(--menu-options-color);
  position: absolute;
  z-index: 1050;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 20px;
  border-radius: 20px;
  &:hover {
    transform: translateX(-50%) scale(1.05);
  }
  &:active {
    transform: translateX(-50%) scale(0.95);
  }
}
