.option {
  font-size: 25px;
  padding-left: 160px;
  font-weight: 700;
  color: var(--menu-options-color);
  line-height: 100px;
  pointer-events: none;
  background-color: var(--menu-options-background-color);
  height: 100px;
  width: 350px;
  position: absolute;
  right: 0;
  z-index: 100;
  border-radius: 0px 6px 6px 0px;
  opacity: 0;
  transition: 0.3s ease-in-out;
  &:hover {
    transition: 0.1s linear, color 0.01s linear;
    right: -240px;
    background-color: rgb(184, 184, 222);
  }
}
.option1 {
  top: 18%;
}
.option2 {
  top: 50%;
  transform: translateY(-50%);
}
.option3 {
  top: 62%;
}
.showOptions {
  pointer-events: all;
  right: -220px;
  opacity: 1;
}
